<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.restpractice.restpractice.RestAPICall">
      	<methods>
      		<exclude name="Connect_API"></exclude>
      	</methods>
      </class>
      <class name="org.restpractice.restpractice.POSTGrabResponse">
      	<methods>
      		<include name="POSTtest"></include>
      	</methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
 